*{
  margin: 0px;
}
  body {
  
  overflow-x: hidden;
  }
  .fHeader{
    
    color:black;
    padding: 15px;
    text-align: right;
    font-family: "Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif";
    font-size: 20px;
  }
  .fHeader ul{
    list-style-type: none;
    margin: auto;
    padding: auto;
  }
  .fHeader li{
    display:inline-block;
    }

  .fHeader a{
    display:block ;
    padding: 10px;
    color: black;
    font-weight: 700;
    text-decoration: none;
  }
  #welcome{
    width: 100%;
    height:50%;
  }
  video::-webkit-media-controls {
    display: none;
  }
  #txt{
    background: rgb(255, 64, 64);
    border-radius: 0ch;
    text-align: center;
    animation: hideMe 5s forwards;
  }
  @keyframes hideMe{
    50%{
        opacity: 1;
    }
    99.99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

  .center{
    text-align: center;
    font-weight: 600;
    padding: 10px;
  }
  .form-group{
    padding :50px;
    font-size: larger;
  }
  .col-sm-6 img{
  border-radius: 10%;
  padding: 20px;
  background-color: rgb(201, 239, 187);
  width: 550px; 
  }
  .col-sm-6 form{
    padding: 20px;
  }
  .end{
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;
    width: auto;
  }
  