*{
  margin: 0px;
  box-sizing: border-box;
  }
  body {
  background-color:rgb(233, 97, 97);

 
  }
  .fHeader{
    display: block;
    background-color:rgb(0, 0, 0);
    color:white;
    padding: 15px;
    font-family: "Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif";
    font-size: 40px;
    overflow:hidden;
    width: 100%;
  }
  .fHeader a{
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
  }
  .resume{
  margin-right:20px;
  background-color:black;
  color: white;
  font-size: 40%;
  float: right;
  padding-top: 10px;
  padding: 10px 22px;
  border-style:solid ;
  border-radius: 8px;
  border-color: black;
  transition-duration: 0.5s;
  width: auto;
  }
  .resume:hover{
    background-color: #bebebe;
    color: black;
  }
  .Abt{
    font-size: 25px;
    height:auto;
    width: auto;
    margin: inherit;
    text-align: center;
    background-color: rgba(228, 228, 228, 0.548);
    backdrop-filter: blur(8px);
    
    text-shadow: 3px 3px 3px #ababab;
    line-height: 1.6;
  }
  .Abt h3{
    text-align: center;
    padding: 50px;
    
  }
  .container{
    background-color: cornsilk;
  }
  .col-sm-6 img {
    width: 100%;

  }
  .fa {
    padding: 20px;
    font-size: 50px;
    width: 70px;
    text-align: center;
    text-decoration:none ;
     margin: 5px 2px; 
  }
.fa:hover {
  color: black;   
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: white;
  color: #125688;
}
.fa-telegram {
  background: white;
  color: #125688;
}
.form-container{
  max-width: 500px;
  padding: 10px;
  background-color: white;
}
.form-container textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: both;
  height: 1500px
}
.form-container label{
  text-align: left;
  position:fixed;
}
  .skill{
    font-size: 25px;
    margin: 50px;
    background-color: rgba(228, 228, 228, 0.548);
    backdrop-filter: blur(8px);
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
  }
  .certi{
    font-size: 25px;
    margin: 50px;
    background-color: rgba(228, 228, 228, 0.548);
    backdrop-filter: blur(8px);
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    
  }
  .proj{
    font-size: 25px;  
    margin: 50px;
    
    background-color: rgba(228, 228, 228, 0.548);
    backdrop-filter: blur(8px);
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    
  }
  .other{
    font-size: 25px;  
    margin: 50px;
    background-color: rgba(228, 228, 228, 0.548);
    backdrop-filter: blur(8px);
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    
  }