*{
  margin: 0px;
  
}
  body {
  /* background-color:yellow !important; */
  background-image: linear-gradient(rgb(241, 109, 109), rgb(241, 241, 133));
  overflow-x: hidden;
  }
  .fHeader{
    background-image: linear-gradient(to right, rgb(241, 109, 109), rgb(241, 241, 133));
    color:black;
    padding: 15px;
    font-family: "Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif";
    font-size: 40px;
  }
  .fHeader a{
    text-decoration: none;
    color: inherit;
  }
  .resume{
  background-color:rgb(245, 98, 98);
  color: black;
  font-size: 40%;
  float: right;
  padding: 10px 22px;
  border-style:solid ;
  border-radius: 8px;
  border-color: black;
  transition-duration: 0.5s;
  display: block;
  }
  .resume:hover{
    background-color: #bebebe;
    color: black;
  }
  .Abt{
    font-size: 25px;
    margin: auto;
    padding: 10px;
    width: auto;
    text-align: center;
    background-color: rgba(228, 228, 228, 0.548);
  }
  .icons a{
    color: black;
    padding: 20px;
    font-size: 50px;
    display: inline-block;
    width: auto;
    height: auto;
  }
  .row{
    height: auto;
    overflow: hidden;  
    padding: 20px;
  }
  .row col-sm-6{
    overflow-x: hidden;
  }
  .temp{
    display: inline;
  }
  .skill{
    margin: 50px;
    font-size: 25px;
    background-color: rgba(228, 228, 228, 0.548);
    padding: 20px;
    height:auto; 
    width: auto;

  }
  .certi{
    font-size: 25px;
    margin: 50px;
    background-color: rgba(228, 228, 228, 0.548);
    padding: 20px;
    height: auto; 
    width:auto;
  }
  .proj{
    font-size: 25px;  
    margin: 50px;
    background-color: rgba(228, 228, 228, 0.548);
    padding: 20px;
    height:auto; 
    width: auto;
  }
  .other{
    font-size: 25px;  
    margin: 50px;
    background-color: rgba(228, 228, 228, 0.548);
    padding: 20px;
    height: auto; 
    width: auto;    
  }
  .end{
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;
    background-color: rgb(226, 255, 197);
    width: auto;
  }